{% extends "dashboard.html" %}
{% block content %}
 <br>
 <h3 align="center"> Tables Arrangement </h3>
 <br>
 <div class="container">
 <div align="center" class="row">
 <div style="background-color: #D5D5D5; border: 1px solid black" class="col-sm-4" id="TA">
 	<h4>Table A</h4>
 	<div style="background-color: white" class="row">
 		<div class="col-sm-4" id="TA"><p>Food</p></div>
 		<div class="col-sm-4" id="TA"><p>Drinks</p></div>
	</div>
 </div>
 <div style="background-color: #D5D5D5; border: 1px solid black" class="col-sm-4" id="TB">
 	<h4>Table B</h4>
 	<div style="background-color: white" class="row">
 		<div class="col-sm-4" id="TA"><p>Food</p></div>
 		<div class="col-sm-4" id="TA"><p>Drinks</p></div>
	</div>
 </div>
 <div style="background-color: #D5D5D5; border: 1px solid black" class="col-sm-4" id="TC">
 	<h4>Table C</h4>
 	<div style="background-color: white" class="row">
 		<div class="col-sm-4" id="TA"><p>Food</p></div>
 		<div class="col-sm-4" id="TA"><p>Drinks</p></div>
	</div>
 </div>
 </div>
 <div align="center" class="row">
 <div style="background-color: #D5D5D5; border: 1px solid black" class="col-sm-4" id="TD">
 	<h4>Table D</h4>
 	<div style="background-color: white" class="row">
 		<div class="col-sm-4" id="TA"><p>Food</p></div>
 		<div class="col-sm-4" id="TA"><p>Drinks</p></div>
	</div>
 </div>
 <div style="background-color: #D5D5D5; border: 1px solid black" class="col-sm-4" id="TE">
 	<h4>Table E</h4>
 	<div style="background-color: white" class="row">
 		<div class="col-sm-4" id="TA"><p>Food</p></div>
 		<div class="col-sm-4" id="TA"><p>Drinks</p></div>
	</div>
 </div>
 <div style="background-color: #D5D5D5; border: 1px solid black" class="col-sm-4" id="TE">
 	<h4>Information</h4>
 	<div style="background-color: white" class="row">
 		<div class="col-sm-4" id="TA"><p>Total:</p></div>
 		<div class="col-sm-4" id="TA"><p>5 </p></div>
	</div>
 </div>
 </div>
 </div>
{% endblock %}